[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/Radon/Desktop/settings.json]
row=4
col=0

[/home/Radon/Desktop/user-themes]
row=6
col=0

[/home/Radon/Desktop/extensions.json]
row=3
col=0

[/home/Radon/Desktop/ulauncher]
row=2
col=0

[/home/Radon/Desktop/shortcuts.json]
row=5
col=0

[Trash]
row=1
col=0

[/home/Radon]
row=0
col=0

